<div class="mainAside">
    <ul class="navBar">
      <li>
        <a href="#" class="navLink active">
          <i class="fa-solid fa-cloud"></i>
          <p>Weather</p>
        </a>
      </li>
      <li>
        <a href="#" class="navLink">
          <i class="fa-solid fa-globe"></i>
          <p>Cities</p>
        </a>
      </li>
      <li>
        <a href="#" class="navLink">
          <i class="fa-solid fa-map"></i>
          <p>Map</p>
        </a>
      </li>
      <li>
        <a href="#" class="navLink">
          <i class="fa-solid fa-sliders"></i>
          <p>Settings</p>
        </a>
      </li>
    </ul>
</div>
